<main>
    <div>
        <h1>Messages</h1>
        <% if (locals.user) { %>
        <a href="/newMessage"><button>+</button></a>
        <% } %>
    </div>
    <div class="messages-list">
        <hr>
        <% for (let i = 0; i < locals.messages.length; i++) { %>
        <div class="message">
            <div class="message-header">
                <%= messages[i].title %>
            </div>
            <div class="message-body">
                <%= messages[i].text %>
            </div>
            <div class="message-meta">
                <div class="message-meta-left">
                    <%= messages[i].author %>
                </div>
                <div class="message-meta-right">
                    <%= messages[i].timestamp %>
                </div>
            </div>
            <hr>
        </div>
        <% } %>
    </div>
</main>