<main>
    <div class="messages-list">
        <div class="message">
            <div class="message-main">
                Title: Test Message
            </div>
            <div class="message-meta">
                <div class="message-meta-left">
                    Author: John Doe
                </div>
                <div class="message-meta-right">
                    Date: 20/08/2024
                </div>
            </div>
        </div>
    </div>
</main>